/* global */
:root {
  --text-color: black;
}

:root[data-theme="dark"] {
  --text-color: white;
}

* {
  padding: 4px;
}

html {
  background-color: violet;
  color: var(--text-color);
}

body {
  margin: 0; /* normalizacja */
  background-color: blueviolet;
}

a {
  /* reset/normalizacja */
  cursor: auto;
  text-decoration: none;
  color: inherit;
}

p {
  font-size: larger;
}

h1 {
  color: red;
}